<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title >hello</title>
    <script type="text/javascript" th:src="@{/static/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/index.js}"></script>

</head>

<body>

<div th:each="str:${strList}">
    <input type = "checkbox" name="file" th:value="${str}"/>
    <lable th:text="${str}"></lable>
</div>
<div th:each="str:${htmlList}">
    <a th:href="@{show(url=${str})}" th:text="${str}"></a>
</div>
<input type ="button" id="init" value="生成html"/>
</body>
</html>